.background-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-input {
  max-width: 300px;
}